/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */

@include laptop-landscape-medium {
    
    .edgtf-woo-single-page {
        
        .woocommerce-tabs {
            
            ul.tabs {
                
                > li {
                    margin: 0 39px 0 0;
                }
            }
        }
    }
}

@include ipad-landscape {
    
    .edgtf-woo-single-page {
        
        .edgtf-single-product-content {
            
            .images,
            .edgtf-single-product-summary {
                float: none;
                width: 100%;
                padding: 0;
            }
	        
	        .images {
		
		        .woocommerce-product-gallery__trigger {
			        right: 10px;
		        }
	        }
            
            .edgtf-single-product-summary {
                margin: 30px 0 0;
            }
        }
    }
}

@include phone-landscape {
    
    .edgtf-woo-single-page {
	
	    &.edgtf-woo-single-thumb-on-left-side {
		
		    .edgtf-single-product-content {
			
			    .images {
				
				    &.woocommerce-product-gallery--columns-4 {
					
					    .woocommerce-product-gallery__image {
						
						    &:not(:first-child) {
							    width: 50%;
						    }
					    }
				    }
			    }
		    }
	    }
        
        .edgtf-single-product-content {
            
            .images {
    
                &.woocommerce-product-gallery--columns-4 {
        
                    .woocommerce-product-gallery__image {
            
                        &:not(:first-child) {
	                        width: 50%;
                        }
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */