/* ==========================================================================
   Header responsive style - begin
   ========================================================================== */

@include laptop-landscape {
	
	.edgtf-drop-down .wide .second > .inner > ul {
		width: $grid-width-laptop-landscape;
	}
}

@include ipad-landscape {

    .edgtf-page-header {
		display: none;
	}
	
	.edgtf-drop-down .wide .second > .inner > ul {
		width: $grid-width-ipad-landscape;
	}
}
/* ==========================================================================
   Header responsive style - end
   ========================================================================== */