/* ==========================================================================
# Side area style - begin
========================================================================== */

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-light-hover-color !important; //Color can be set inline from widget opener;
	}
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener;
	
	&.opened,
	&:hover {
		color: $header-dark-hover-color !important; //Color can be set inline from widget opener;
	}
}

.edgtf-side-menu-button-opener {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 12px;
	line-height: 1;
	background-color: transparent;
	border-radius: 50%;
	@include edgtfTransition(background-color .2s ease-out);
	
	.edgtf-side-menu-lines {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 14px;

		.edgtf-side-menu-line {
			position: absolute;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: currentColor;
			border-radius: 12px;
			@include edgtfTransition(.3s ease, top .2s ease-out, background-color .2s ease-out);

			&.edgtf-line-1 {
				top: 0;
				outline: transparent solid 1px;
			}

			&.edgtf-line-2 {
				top: calc(50% - 2px);
				outline: transparent solid 1px;
			}

			&.edgtf-line-3 {
				top: calc(100% - 4px);
				outline: transparent solid 1px;
			}
		}
	}
	
	&.opened,
	&:hover {
		color: #fff;
		background-color: $first-main-color;
	}
}

.edgtf-side-menu {
    position: fixed;
    top: 0;
	right: -536px;
	width: 536px;
    height: 100%;
    min-height: 100%;
	padding: 73px 82px 36px;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
	box-shadow: -2px 0 8px rgba(0, 0, 0, .04);
    @include edgtfTransition(all .6s cubic-bezier(.77,0,.175,1));

    .edgtf-close-side-menu-holder {
        position: absolute;
	    top: 36px;
	    right: 65px;
        z-index: 1000;
	
	    .admin-bar & {
		    top: 68px;
	    }
    }

	a.edgtf-close-side-menu {
		display: block;
		color: $default-heading-color;
		font-size: 40px;
		z-index: 1000;

		&:hover {
			color: $default-text-color;
		}

		span {
			display: block;
			line-height: inherit;

			&:before {
				display: block;
				line-height: inherit;
			}
		}
	}
}

.edgtf-side-menu-slide-from-right {
	
	&.edgtf-right-side-menu-opened {
		
		.edgtf-wrapper {
			
			.edgtf-cover {
				z-index: 3000;
			}
		}
		
		.edgtf-side-menu {
			right: 0;
			visibility: visible;
		}
	}

    .edgtf-wrapper {

        .edgtf-cover {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
        }
    }
}
/* ==========================================================================
# Side area style - end
========================================================================== */