/* ==========================================================================
   Header Standard Extended style - begin
   ========================================================================== */

.edgtf-header-standard-extended {

    .edgtf-page-header {
	    
        .edgtf-logo-area {
	        height: 113px;
            z-index: 1; //to be above menu area in order to cover shadow
	        box-sizing: border-box;

            .edgtf-logo-wrapper a {
                max-height: 113px;
            }

            .edgtf-vertical-align-containers {
	            
                .edgtf-position-right-inner {
                    height: auto;
                }
            }

            .edgtf-logo-widget-area {
	            position: relative;
	            display: inline-block;
	            vertical-align: middle;
	            margin-left: 8px;
            }

            .edgtf-right-from-logo-widget {
	            position: relative;
	            padding: 0 20px 0 0;
	            float: left;
	            
                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .edgtf-menu-area {
	        height: 49px;
			background-color: #000;

            .edgtf-main-menu {
                margin-left: 0;

				> ul {

					> li {

						> a {
							color: #fff;
						}
					}
				}

                & > ul > li:first-child > a {
                    padding-left: 0;
                }
            }

            .edgtf-vertical-align-containers {
	            
                .edgtf-position-left-inner {
                    height: 100%;
                }

                .edgtf-position-right-inner {
                    height: auto;
                }
            }
        }
    }
}
/* ==========================================================================
   Header Standard Extended style - end
   ========================================================================== */