/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
# Fullscreen style - begin
========================================================================== */
.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-fullscreen-button-opener {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener.opened, .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener:hover,
.edgtf-light-header .edgtf-top-bar .edgtf-fullscreen-button-opener.opened,
.edgtf-light-header .edgtf-top-bar .edgtf-fullscreen-button-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-fullscreen-button-opener {
  color: #000 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener.opened, .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-button-opener:hover,
.edgtf-dark-header .edgtf-top-bar .edgtf-fullscreen-button-opener.opened,
.edgtf-dark-header .edgtf-top-bar .edgtf-fullscreen-button-opener:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.edgtf-fullscreen-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 25px;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-lines .edgtf-fullscreen-line {
  position: absolute;
  left: 50%;
  height: 6px;
  width: 6px;
  background-color: currentColor;
  border-radius: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
  transition: 0.3s ease, top 0.2s ease-out, background-color 0.2s ease-out;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-lines .edgtf-fullscreen-line.edgtf-line-1 {
  top: 0;
  outline: transparent solid 1px;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-lines .edgtf-fullscreen-line.edgtf-line-2 {
  top: calc(50% - 4px);
  outline: transparent solid 1px;
}

.edgtf-fullscreen-button-opener .edgtf-fullscreen-lines .edgtf-fullscreen-line.edgtf-line-3 {
  top: calc(100% - 6px);
  outline: transparent solid 1px;
}

.edgtf-fullscreen-button-opener.opened, .edgtf-fullscreen-button-opener:hover {
  color: #ff4d2f;
}

.edgtf-fullscreen-area {
  position: fixed;
  top: 0;
  left: -1px;
  width: 101%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  z-index: 9999;
  -webkit-transform: translate3d(101%, 0, 0);
  -moz-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: transform 0.7s cubic-bezier(0.63, 0.17, 0, 0.88), visibility 0s 0.7s;
  -moz-transition: transform 0.7s cubic-bezier(0.63, 0.17, 0, 0.88), visibility 0s 0.7s;
  transition: transform 0.7s cubic-bezier(0.63, 0.17, 0, 0.88), visibility 0s 0.7s;
}

.edgtf-fullscreen-opened .edgtf-fullscreen-area {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.63, 0.17, 0, 0.88);
  transition: transform 0.5s cubic-bezier(0.63, 0.17, 0, 0.88);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.edgtf-fullscreen-area .edgtf-fullscreen-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.edgtf-fullscreen-area .edgtf-fullscreen-left,
.edgtf-fullscreen-area .edgtf-fullscreen-right {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-left,
  .edgtf-fullscreen-area .edgtf-fullscreen-right {
    display: block;
    width: 100%;
  }
}

.edgtf-fullscreen-area .edgtf-fullscreen-left {
  padding: 79px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-left {
    display: none;
  }
}

.edgtf-fullscreen-area .edgtf-fullscreen-left .edgtf-news-holder {
  position: absolute;
  bottom: 0;
}

.edgtf-fullscreen-area .edgtf-fullscreen-left .edgtf-news-holder .edgtf-ni-content {
  padding: 30px 40px 87px 83px;
}

.edgtf-fullscreen-area .edgtf-fullscreen-left .edgtf-news-holder .edgtf-ni-info > div {
  font-size: 14px;
}

.edgtf-fullscreen-area .edgtf-fullscreen-left .edgtf-news-holder .edgtf-post-info-author {
  margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-right {
    width: 100%;
  }
}

.edgtf-fullscreen-area .edgtf-fullscreen-title {
  float: left;
  width: 50%;
  padding: 0 11%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-title {
    width: 44%;
    padding: 0 9%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-title {
    float: none;
    width: 100%;
    padding: 0 8%;
  }
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-nav-1,
  .edgtf-fullscreen-area .edgtf-fullscreen-nav-2 {
    width: 28%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-nav-1,
  .edgtf-fullscreen-area .edgtf-fullscreen-nav-2 {
    width: 50%;
    padding: 0 8%;
  }
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul {
  list-style: none;
  margin: 4px 0;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul.sub-menu,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul.sub-menu {
  margin-top: 3px;
  padding: 0 0 20px;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul li.menu-item-has-children,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul li.menu-item-has-children {
  margin: 0 0 26px;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul li.menu-item-has-children:not(:first-child) > a,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul li.menu-item-has-children:not(:first-child) > a {
  color: #121212;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul li.menu-item-has-children:not(:first-child) > a:hover,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul li.menu-item-has-children:not(:first-child) > a:hover {
  color: #ff4d2f;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul li a,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul li a {
  font-size: 13px;
  line-height: 33px;
  color: #666;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 ul li a:hover,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 ul li a:hover {
  color: #ff4d2f;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 > ul > li > a,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 > ul > li > a {
  color: #121212;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.edgtf-fullscreen-area .edgtf-fullscreen-nav-1 > ul > li > a:hover,
.edgtf-fullscreen-area .edgtf-fullscreen-nav-2 > ul > li > a:hover {
  color: #ff4d2f;
}

.edgtf-fullscreen-area .edgtf-fullscreen-close-holder {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1000;
}

@media only screen and (max-width: 1280px) {
  .edgtf-fullscreen-area .edgtf-fullscreen-close-holder {
    right: 36px;
  }
}

.admin-bar .edgtf-fullscreen-area .edgtf-fullscreen-close-holder {
  top: 62px;
}

.edgtf-fullscreen-area a.edgtf-fullscreen-close {
  display: block;
  color: #121212;
  font-size: 40px;
  z-index: 1000;
}

.edgtf-fullscreen-area a.edgtf-fullscreen-close:hover {
  color: #808080;
}

.edgtf-fullscreen-area a.edgtf-fullscreen-close span {
  display: block;
  line-height: inherit;
}

.edgtf-fullscreen-area a.edgtf-fullscreen-close span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
# Fullscreen style style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/fullscreen-map.css.map */
