/* generated in /var/www/camafu/wp-content/themes/mediadesk/assets/custom-styles/general-custom-styles.php mediadesk_edge_design_styles function */
body { font-family: Lato;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/assets/custom-styles/general-custom-styles.php mediadesk_edge_h1_styles function */
h1 { font-family: Libre Baskerville;font-style: normal;font-weight: 500;letter-spacing: 5px;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/footer/admin/custom-styles/footer-custom-styles.php mediadesk_edge_footer_top_general_styles function */
.edgtf-page-footer .edgtf-footer-top-holder { background-color: #ffffff;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/footer/admin/custom-styles/footer-custom-styles.php mediadesk_edge_footer_bottom_general_styles function */
.edgtf-page-footer .edgtf-footer-bottom-holder { background-color: #ffffff;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/header/types/fixed-header/admin/custom-styles/fixed-header-custom-styles.php mediadesk_edge_fixed_header_styles function */
.edgtf-page-header .edgtf-fixed-wrapper.fixed .edgtf-menu-area { background-color: rgba(255, 255, 255, 1)!important;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/header/types/mobile-header/admin/custom-styles/mobile-header-custom-styles.php mediadesk_edge_mobile_navigation_styles function */
.edgtf-mobile-header .edgtf-mobile-nav { background-color: #ffffff;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/header/types/top-header/admin/custom-styles/top-header-custom-styles.php mediadesk_edge_header_top_bar_styles function */
.edgtf-top-bar-background { height: 95px;}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/header/admin/custom-styles/header-custom-styles.php mediadesk_edge_header_menu_area_styles function */
.edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers { background-color: rgba(255, 255, 255, 1);}

/* generated in /var/www/camafu/wp-content/themes/mediadesk/framework/modules/search/admin/custom-styles/search-custom-styles.php mediadesk_edge_search_opener_text_styles function */
.edgtf-search-icon-text { letter-spacing: px;}

