/* ==========================================================================
# Search opener - begin
========================================================================== */

.edgtf-search-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1;
    margin: 0 10px;
    
    .edgtf-header-centered .edgtf-page-header & {
        @include edgtfTransition(none);
        
        &:hover {
    
            .edgtf-search-opener-wrapper {
                color: #fff;
                background-color: $first-main-color;
            }
        }
        
        .edgtf-search-opener-wrapper {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            line-height: 40px;
            text-align: center;
            color: inherit;
            background-color: transparent;
            border-radius: 100%;
            @include edgtfTransition(color .2s ease-out, background-color .2s ease-out);
            
            > * {
                padding: 0;
            }
        }
    }

    .edgtf-search-opener-wrapper {
        display: block;
        line-height: inherit;
        
        > * {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 3px;
            line-height: inherit;
        
            &:before {
                display: block;
                line-height: inherit;
            }
        }
    }
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-search-opener {
    color: $header-light-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-light-hover-color !important;
    }
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-search-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-search-opener {
    color: $header-dark-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-dark-hover-color !important;
    }
}
/* ==========================================================================
# Search opener - end
========================================================================== */