/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.edgtf-woo-pagination-holder {
    @include edgtfRelativeHolderLayout();
	margin: 0 0 100px;
	padding: 15px 0 0;
	border-top: 1px solid $default-border-color;
    clear: both;

    .edgtf-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: right;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0;

            a,
            span {
                position: relative;
                display: inline-block;
	            width: auto;
                margin: 0 6px;
                padding: 0;
                vertical-align: top;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                color: $default-text-color;
                @include edgtfTransition(color .2s ease-out);

                &:hover,
                &.current {
                    color: $default-heading-color;
                }
            }

            a {

                &.next,
                &.prev {
					vertical-align: middle;
                    font-size: 0;
                    line-height: 1;
                    margin: 0 6px 0 4px;

                    &:before {
                        position: relative;
                        top: -1px;
                        display: block;
                        font-family: 'Ionicons';
                        font-size: 18px;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
    
                &.prev {
        
                    &:before {
                        content: "\f3d2";
                    }
                }
    
                &.next {
        
                    &:before {
                        content: "\f3d3";
                    }
                }
            }
        }
    }
}

.edgtf-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 35px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */