/* ==========================================================================
   WooCommerce Result and Ordering styles - begin
   ========================================================================== */
.edgtf-woocommerce-page {

    .woocommerce-result-count,
    .woocommerce-ordering {
        display: inline;
        width: 50%;
        margin: 0 0 17px;
        float: left;
    }

    .woocommerce-result-count {
        line-height: 44px;
    }

    .woocommerce-ordering {
        text-align: right;

		.select2-container--default {
			
			.select2-selection--single {
				text-align: right;
				padding: 0 1px 0 20px;
			}
		}
        
        .orderby {
            width: auto;
	        min-width: 210px;
	        margin: 0;
	        text-align: initial;
        }
    }
}
/* ==========================================================================
   WooCommerce Result and Ordering styles - end
   ========================================================================== */