/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */

@media only screen and (max-width: 1300px) {
	
	.edgtf-header-standard {
		
		.edgtf-menu-area {
			
			.edgtf-grid {
				width: 100%;
			}
		}
	}
}
/* ==========================================================================
   Header Standard style - end
   ========================================================================== */