/* Single posts navigation styles - begin
    ====================================================================== */

.edgtf-blog-single-navigation {
    @include edgtfRelativeHolderLayout();
    margin: 30px 0 50px;
    
    > a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 0 45px;
        line-height: 56px;
        color: #fff;
		border: 1px solid $default-heading-color;
        background-color: $default-heading-color;
        @include edgtfTransition(color .2s ease-in-out, background-color .2s ease-in-out);

        &:hover {
            @include edgtfButtonSolidHoverColor();
        }
        
        .edgtf-blog-single-nav-mark {
            position: relative;
            top: 1px;
            font-size: 14px;
            line-height: inherit;
        
            &:before {
                display: block;
                line-height: inherit;
            }
        }
    
        .edgtf-blog-single-nav-label {
            font-size: 11px;
            line-height: inherit;
            font-weight: 600;
            letter-spacing: .2em;
            text-transform: uppercase;
        }
    }

    .edgtf-blog-single-prev {
        float: left;

        > * {
            float: left;
        }

        .edgtf-blog-single-nav-mark {
            margin: 0 8px 0 0;
        }
    }

    .edgtf-blog-single-next {
        float: right;
    
        > * {
            float: right;
        }

        .edgtf-blog-single-nav-mark {
            margin: 0 0 0 8px;
        }
    }
    
    @include ipad-portrait {
    
        > a {
            padding: 0 36px;
            line-height: 50px;
        }
    }
    
    @include phone-landscape {
	    margin: 20px 0 40px;
	    
        > a {
	        margin: 10px 0;
	        float: none !important;
	        text-align: initial !important;
        }
    }
}

.edgtf-single-links-pages {
    clear: both;
    margin: 20px 0 5px;

    .edgtf-single-links-pages-inner {

        > a,
        > span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px 5px 0;
        }
    }
}
/* Single posts navigation styles - end
    ====================================================================== */