/*
Theme Name: MediaDesk Child
Theme URI: http://mediadesk.edge-themes.com
Description: A child theme of MediaDesk Theme
Author: Edge Themes
Author URI: http://themeforest.net/user/edge-themes
Version: 1.0
Text Domain: mediadesk
Template: mediadesk
*/
