/*
Theme Name: MediaDesk Child
Theme URI: http://mediadesk.edge-themes.com
Description: A child theme of MediaDesk Theme
Author: Edge Themes
Author URI: http://themeforest.net/user/edge-themes
Version: 1.0
Text Domain: mediadesk
Template: mediadesk
*/

@media screen and (max-width:1270px) and (min-width:1025px) {
    .edgtf-main-menu>ul>li {
	    width: 106px !important;
	}
	
    .edgtf-main-menu>ul>li>a>span.item_outer .item_text {
    	line-height: 12px !important;
	}
	
	.edgtf-main-menu>ul>li:hover>a>span.item_outer:after {
	    top: calc(70% + 5px);
	}
	
	.edgtf-main-menu>ul>li>a>span.item_outer:after {
	    -webkit-transform: translateX(-50%) translateY(300%) !important;
	    -moz-transform: translateX(-50%) translateY(300%) !important;
	    transform: translateX(-50%) translateY(300%) !important;
    }
}